
.vs/PlayerSkins/v16/.suo
bin/Debug/PlayerSkins.dll
bin/Debug/PlayerSkins.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/PlayerSkins.csproj.CoreCompileInputs.cache
obj/Debug/PlayerSkins.csproj.FileListAbsolute.txt
obj/Debug/PlayerSkins.csprojAssemblyReference.cache
obj/Debug/PlayerSkins.dll
obj/Debug/PlayerSkins.pdb
PlayerSkins.csproj
*.dll
*.dll
*.dll
*.dll
*.pdb
